################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToLowerCase/bin/Debug
/ToLowerCase/obj/Debug
/NumJewelsInStones/obj/Debug
/NumJewelsInStones/bin/Debug
/LeetCode/obj/Debug
/LeetCode/bin/Debug
/.vs/LeetCode/v14
/FindComplement/bin/Debug
/FindComplement/obj/Debug
/JudgeCircle/bin/Debug
/JudgeCircle/obj/Debug
/NumberOfLines/bin/Debug
/NumberOfLines/obj/Debug
/ReverseString/bin/Debug
/ReverseString/obj/Debug
/ReverseWords/bin/Debug
/ReverseWords/obj/Debug
/ArrayPairSum/obj
/FindComplement/obj/Release
/FindWords/bin/Debug
/FindWords/obj
/JudgeCircle/obj/Release
/MergeTrees/bin/Debug
/MergeTrees/obj
/NumberOfLines/obj/Release
/NumJewelsInStones/obj/Release
/ReverseString/obj/Release
/ReverseWords/obj/Release
/ToLowerCase/obj/Release
/.vs
/CalPoints/obj
/ArrayPairSum/bin/Debug
/CalPoints/bin/Debug
/FindLUSlength/obj/Debug
/FizzBuzz/bin/Debug
/FizzBuzz/obj/Debug
/IslandPerimeter/bin/Debug
/IslandPerimeter/obj/Debug
/MatrixReshape/bin/Debug
/MatrixReshape/obj/Debug
/NextGreaterElement/bin/Debug
/NextGreaterElement/obj/Debug
/SingleNumber/bin/Debug
/SingleNumber/obj/Debug
/AddDigits/bin/Debug
/AddDigits/obj/Debug
/CanWinNim/bin/Debug
/CanWinNim/obj/Debug
/DetectCapitalUse/bin/Debug
/DetectCapitalUse/obj/Debug
/FindLUSlength/bin/Debug
/FindMaxConsecutiveOnes/bin/Debug
/FindMaxConsecutiveOnes/obj/Debug
/FindTheDifference/obj/Debug
/GetImportance/bin/Debug
/GetImportance/obj/Debug
/MoveZeroes/bin/Debug
/MoveZeroes/obj/Debug
/CanConstruct/obj/Debug
/FindTheDifference/bin/Debug
/GetSum/bin/Debug
/GetSum/obj/Debug
/Intersection/obj/Debug
/RotateString/obj/Debug
/TitleToNumber/bin/Debug
/TitleToNumber/obj/Debug
/ShortestToChar/bin/Debug
/ShortestToChar/obj/Debug
/Tree2str/bin/Debug
/Tree2str/obj/Debug
/BinaryGap/bin/Debug
/BinaryGap/obj/Debug
/CanConstruct/bin/Debug
/Intersection/bin/Debug
/RotateString/bin/Debug
/SubdomainVisits/bin/Debug
/SubdomainVisits/obj/Debug
/LeafSimilar/bin/Debug
/LeafSimilar/obj/Debug
/Transpose/bin/Debug
/Transpose/obj/Debug
/PeakIndexInMountainArray/bin/Debug
/PeakIndexInMountainArray/obj/Debug
/SelfDividingNumbers/bin/Debug
/SelfDividingNumbers/obj/Debug
/UniqueMorseRepresentations/obj/Debug
/DistributeCandies/obj/Debug
/TrimBST/bin/Debug
/TrimBST/obj/Debug
/UniqueMorseRepresentations/bin/Debug
/DistributeCandies/bin/Debug
/IsToeplitzMatrix/bin/Debug
/IsToeplitzMatrix/obj/Debug
/MaxDepth/obj/Debug
/UncommonFromSentences/bin/Debug
/UncommonFromSentences/obj/Debug
/FlipAndInvertImage/bin/Debug
/FlipAndInvertImage/obj/Debug
/HammingDistance/bin/Debug
/HammingDistance/obj/Debug
/MiddleNode/bin/Debug
/MiddleNode/obj/Debug
/ContainsDuplicate/bin/Debug
/ContainsDuplicate/obj/Debug
/IsAnagram/obj/Debug
/IsSameTree/bin/Debug
/IsSameTree/obj/Debug
/ProjectionArea/.vs/ProjectionArea/v14
/AverageOfLevels/bin/Debug
/AverageOfLevels/obj/Debug
/HasAlternatingBits/bin/Debug
/HasAlternatingBits/obj/Debug
/Postorder/obj/Debug
/FairCandySwap/bin/Debug
/FairCandySwap/obj/Debug
/ToGoatLatin/obj/Debug
/CountPrimeSetBits/bin/Debug
/CountPrimeSetBits/obj/Debug
/ToGoatLatin/bin/Debug
/InvertTree/bin/Debug
/InvertTree/obj/Debug
/Preorder/bin/Debug
/Preorder/obj/Debug
/SearchBST/bin/Debug
/SearchBST/obj/Debug
/GetMinimumDifference/obj/Debug
/MinMoves/bin/Debug
/MinMoves/obj/Debug
/MaxProfit/obj/Debug
