################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToLowerCase/bin/Debug
/ToLowerCase/obj/Debug
/NumJewelsInStones/obj/Debug
/NumJewelsInStones/bin/Debug
/LeetCode/obj/Debug
/LeetCode/bin/Debug
